  body{
    /* background-image: linear-gradient(180deg, #c2cacb,#ee8d3e); */
    height: 100vh;
    margin: 0%;
    background-color: #80808042;;

  }
  .head{
  font-size: xxx-large;
  font-weight: 550;
  color:silver;
  width: 80%;
  padding-top: 1%;
  margin-left: 2%;
  }
  .header{
    background-color: white;
    height: 5%;
    display: flex;

  }
  #logo{
    width: 5%;
    margin-left: 1%;
   }
   .child{
     display: flex;
   }

   .child1{
     display: flex;

   }

   .tile{
     width: 210px;
    height: 210px;
    line-height: 210px;
    text-align: center;
    background-color: white;
    margin: 2%;
    color: black;
    font-size: x-large;
    font-weight: 600;
   }

   .labels{
     display: flex;
   }
