body{
  /* background-image: linear-gradient(180deg, #c2cacb,#ee8d3e); */
  height: 100vh;
  margin: 0%;
  background-color: #80808012;
}

.head{
  font-size: xxx-large;
  font-weight: 550;
  color:#137dbe;
  padding-top: 1%;
  margin-left: 2%;
  width: 95%;
}

.header{
  height: 5%;
  display: flex;  
}

#line{
  display: flex;
  border-bottom: solid #137dbe;
  border-bottom-width: 2px;
  width: 85%;

}

#logo{
  width: 5%;
  margin-left: 1%;
}


#refresh{
  font-size:  xxx-large;
  margin: 1%;
  color: #888888;
}

#mail{
  font-size:  xxx-large;
  margin: 1%;
  color: #888888;
}

#done{
  font-size:  xxx-large;
  margin: 1%;
  color: #888888;
}

.child1{
  display: flex;
  justify-content: center;
}

.child2{
  display: flex;
  justify-content: center;
}

.tile{
  width: 210px;
  height: 210px;
  line-height: 210px;
  text-align: center;
  background-color: #d6a0ca;
  margin: 2%;
  color: black;
  font-size: larger;
  font-weight: 600;
  border-radius: 10%;
  box-shadow: 10px 10px #00000063;
}

.labels{
  display: flex;
  justify-content: center;
  line-height: 60px;
  text-align: center;
}

.tab{
  margin: 1% 2%;
  background-color:#7ccbce;
  width: 48px;
  font-size: xx-large;
  font-weight: 600;
  border-radius: 40%;
  box-shadow: 5px 5px #00000063;
}
